{% extends "GestionEntrepriseParametrageBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Types de client{% endblock %}

{% block gestparam_body %}

	<h2>Modifier un type de client</h2>
	
    <form method="post" {{ form_enctype(form) }}>
	
        {{ form_widget(form) }}
        
        <input type="submit" value="OK" />
    </form>
{% endblock %}
